#board-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strikethrough {
  position: absolute;
  background-color: red;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 10%;
}

.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 28%;
}

.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 45%;
}

.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 30%;
  bottom: 0%;
}

.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 50%;
  bottom: 0%;
}

.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 70%;
  bottom: 0%;
}

.strike-diagonal-1 {
  width: 32%;
  height: 4px;
  top: 20%;
  left: 32%;
  transform: skewY(45deg);
}

.strike-diagonal-2 {
    width: 25%;
    height: 4px;
    top: 20%;
    left: 40%;
    transform: skewY(-45deg);
}

#game-over-area {
  text-align: center;
  border: lightblue 8px solid;
  padding: 50px;
  width: 300px;
  margin-top: 50px;
  position: relative;
  left: 450px;
}

h2 {
  color: red;
  font-size: 3em;
  margin-top: 0px;
}

button {
  background-color: transparent;
  border: red 1px solid;
  padding: 10px;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.playersDiv {
    position: relative;
    
}
